In [1]:
import pandas as pd
import datetime as dt

In [4]:
df = pd.DataFrame()
ano = 2022
for mes in range(1,6):
  for dia in range(1,32):
    dia_str, mes_str = dia, mes
    if int(mes) < 10:
      mes_str = "0"+str(mes)
    if int(dia) < 10:
      dia_str = "0"+str(dia)
    print(dia, mes, ano)
    try:
      #print(f"https://www.saude.pr.gov.br/sites/default/arquivos_restritos/files/documento/2022-{mes_str}/informe_epidemiologico_{dia_str}_{mes_str}_2022_obitos_casos_municipio.csv")
      df_temp = pd.read_csv(f"https://www.saude.pr.gov.br/sites/default/arquivos_restritos/files/documento/{ano}-{mes_str}/informe_epidemiologico_{dia_str}_{mes_str}_{ano}_obitos_casos_municipio.csv", sep=";")
      df = pd.concat([df, df_temp], ignore_index=True)
    except:
      try:
        df_temp = pd.read_csv(f"https://www.saude.pr.gov.br/sites/default/arquivos_restritos/files/documento/{ano}-{mes_str}/informe_epidemiologico_{dia_str}_{mes_str}_{ano}_obitos_casos_municipio_0.csv", sep=";")
        df = pd.concat([df, df_temp], ignore_index=True)
      except:
        print("nao foi")
      pass

1 1 2022
2 1 2022
3 1 2022
4 1 2022
5 1 2022
6 1 2022
7 1 2022
8 1 2022
9 1 2022
10 1 2022
11 1 2022
12 1 2022
13 1 2022
14 1 2022
15 1 2022
16 1 2022
17 1 2022
18 1 2022
19 1 2022
20 1 2022
21 1 2022
22 1 2022
23 1 2022
24 1 2022
25 1 2022
26 1 2022
27 1 2022
28 1 2022
29 1 2022
30 1 2022
31 1 2022
1 2 2022
2 2 2022
3 2 2022
4 2 2022
5 2 2022
6 2 2022
7 2 2022
8 2 2022
9 2 2022
10 2 2022
11 2 2022
12 2 2022
13 2 2022
14 2 2022
15 2 2022
16 2 2022
17 2 2022
18 2 2022
19 2 2022
20 2 2022
21 2 2022
22 2 2022
23 2 2022
24 2 2022
25 2 2022
26 2 2022
27 2 2022
28 2 2022
29 2 2022
nao foi
30 2 2022
nao foi
31 2 2022
nao foi
1 3 2022
2 3 2022
3 3 2022
4 3 2022
5 3 2022
6 3 2022
7 3 2022
8 3 2022
9 3 2022
10 3 2022
11 3 2022
12 3 2022
13 3 2022
14 3 2022
15 3 2022
16 3 2022
17 3 2022
18 3 2022
19 3 2022
20 3 2022
21 3 2022
22 3 2022
23 3 2022
24 3 2022
25 3 2022
26 3 2022
27 3 2022
28 3 2022
29 3 2022
30 3 2022
31 3 2022
1 4 2022
2 4 2022
3 4 2022
4 4 2022
5 4 2022
6 4 2022
7 4 2022
8 4 2022
9 4 2022
10 4 2022
11 4 2022
12 4 2022
13 4 2022
14 4 2022
15 4 2022
16 4 2022
17 4 2022
18 4 2022
19 4 2022
20 4 2022
21 4 2022
22 4 2022
23 4 2022
24 4 2022
25 4 2022
26 4 2022
27 4 2022
28 4 2022
29 4 2022
30 4 2022
31 4 2022
nao foi
1 5 2022
2 5 2022
3 5 2022
4 5 2022
5 5 2022
6 5 2022
7 5 2022
8 5 2022
9 5 2022
10 5 2022
11 5 2022
12 5 2022
13 5 2022
14 5 2022
15 5 2022
16 5 2022
17 5 2022
18 5 2022
19 5 2022
20 5 2022
21 5 2022
nao foi
22 5 2022
nao foi
23 5 2022
nao foi
24 5 2022
nao foi
25 5 2022
nao foi
26 5 2022
nao foi
27 5 2022
nao foi
28 5 2022
nao foi
29 5 2022
nao foi
30 5 2022
nao foi
31 5 2022
nao foi

In [5]:
df

,IBGE,RS,MACRO,Municipio,Casos,Obitos,Recuperados,Em_investigacao,MUNICÍPIO,CASOS,ÓBITOS POR COVID-19,RECUPERADOS,ÓBITOS POR OUTRAS CAUSAS,ATIVOS,EM INVESTIGAÇÃO
0,4101200,1,LESTE,Antonina,2659.0,73.0,2576.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,4109500,1,LESTE,Guaraqueçaba,761.0,19.0,740.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,4109609,1,LESTE,Guaratuba,5610.0,185.0,5383.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,4115705,1,LESTE,Matinhos,4085.0,148.0,3911.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,4116208,1,LESTE,Morretes,2296.0,56.0,2217.0,2.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
55855,4117271,22,NORTE,NaN,NaN,NaN,NaN,NaN,Nova Tebas,1537.0,17.0,1501.0,0.0,19.0,0.0
55856,4122172,22,NORTE,NaN,NaN,NaN,NaN,NaN,Rio Branco do Ivaí,818.0,13.0,778.0,0.0,27.0,0.0
55857,4122651,22,NORTE,NaN,NaN,NaN,NaN,NaN,Rosário do Ivaí,1457.0,9.0,1445.0,1.0,2.0,0.0
55858,4123857,22,NORTE,NaN,NaN,NaN,NaN,NaN,Santa Maria do Oeste,2067.0,30.0,2033.0,0.0,4.0,0.0
55859,4125001,22,NORTE,NaN,NaN,NaN,NaN,NaN,São João do Ivaí,2561.0,26.0,2435.0,2.0,98.0,0.0