In [6]:
# km rodados medio dos veiculos da base
# preco medio dos veiculos da base
# tabela de frequencia para cores do veiculo
# tabela de frequencia para ano/modelo
# preco medio e desvio padrao do km por carro, ordenar pela media
# preco medio e desvio padrao do km por ano/modelo, ordenar pelo ano/modelo
# preco medio e desvio padrao do km por carro x ano/modelo
# cortar km rodados em classe de 5 em 5 comecando em 0
# preco medio por classe de km rodado x carro

import pandas as pd

In [5]:
df = pd.read_csv("./data/hb20_venda_webmotors_280314.txt", sep = "\t")
df

,carro,especificacao,cor,km,anomod,preco
0,hb20,HYUNDAI HB20 1.0 COMFORT 12V FLEX 4P MANUAL,branco,0,2013/2014,32890
1,hb20,HYUNDAI HB20 1.0 COMFORT 12V FLEX 4P MANUAL,branco,0,2013/2014,32900
2,hb20,HYUNDAI HB20 1.0 COMFORT 12V FLEX 4P MANUAL,branco,0,2013/2014,33240
3,hb20,HYUNDAI HB20 1.0 COMFORT 12V FLEX 4P MANUAL,vermelho,0,2013/2014,33240
4,hb20,HYUNDAI HB20 1.0 COMFORT 12V FLEX 4P MANUAL,branco,0,2013/2013,33250
...,...,...,...,...,...,...
778,hb20x,HYUNDAI HB20X 1.6 GAMMA 16V STYLE FLEX 4P MANUAL,vermelho,100,2013/2014,47990
779,hb20x,HYUNDAI HB20X 1.6 GAMMA 16V STYLE FLEX 4P MANUAL,branco,2000,2013/2014,46800
780,hb20x,HYUNDAI HB20X 1.6 GAMMA 16V STYLE FLEX 4P MANUAL,preto,7000,2013/2014,49800
781,hb20x,HYUNDAI HB20X 1.6 GAMMA 16V STYLE FLEX 4P MANUAL,vermelho,9800,2013/2014,47500
782,hb20x,HYUNDAI HB20X 1.6 GAMMA 16V STYLE FLEX 4P MANUAL,marrom,10000,2013/2014,45000

In [26]:
# km rodados medio dos veiculos da base
# preco medio dos veiculos da base
df["km"].mean(), df["preco"].mean()

(2045.346104725415, 44444.14687100894)

In [42]:
# tabela de frequencia para cores do veiculo
df["cor"].value_counts().sum()
df2 = pd.DataFrame()
df2["frequencia"] = df["cor"].value_counts()
df2["pct"] = df2["frequencia"]/df["cor"].value_counts().sum()
df2

            frequencia       pct
branco             316  0.403576
preto              222  0.283525
prata               86  0.109834
vermelho            79  0.100894
cinza               42  0.053640
azul                21  0.026820
indefinida           9  0.011494
marrom               8  0.010217

In [44]:
# tabela de frequencia para ano/modelo
df["anomod"].value_counts().sum()
df2 = pd.DataFrame()
df2["frequencia"] = df["anomod"].value_counts()
df2["pct"] = df2["frequencia"]/df["anomod"].value_counts().sum()
df2

           frequencia       pct
2014/2014         374  0.477650
2013/2014         302  0.385696
2013/2013          64  0.081737
2012/2013          43  0.054917

In [60]:
# preco medio e desvio padrao do km por carro, ordenar pela media
df.groupby("carro").agg({"km":["mean", "std"]}).sort_values(by=("km", "mean"))

                km
              mean          std
carro
hb20x   866.465116  3344.506191
hb20s  1350.663265  4107.052370
hb20   2519.481038  7281.135787

In [ ]:
# preco medio e desvio padrao do km por ano/modelo, ordenar pelo ano/modelo