In [1]:
import pandas as pd
import numpy as np
import yfinance as yf

In [2]:
df = pd.read_csv("lista acoes.csv", delimiter=";")
df["ini"] = pd.to_datetime(df["ini"], format="%d/%m/%Y")
df["fim"] = pd.to_datetime(df["fim"], format="%d/%m/%Y")
df

     acao        ini        fim
0   vale3 2022-01-01 2022-05-17
1   itub3 2022-01-06 2022-05-17
2  sanb11 2022-05-11 2022-05-17

In [4]:
df.set_index("acao", inplace=True)

(Timestamp('2022-01-01 00:00:00'),
               ini        fim
 acao
 vale3  2022-01-01 2022-05-17
 itub3  2022-01-06 2022-05-17
 sanb11 2022-05-11 2022-05-17)

In [6]:
df.index

Index(['vale3', 'itub3', 'sanb11'], dtype='object', name='acao')

In [8]:
cotacoes = pd.DataFrame()
for acao in df.index:
    ini = df.loc[acao,"ini"]
    fim = df.loc[acao,"fim"]
    print(ini, fim)
    cotacoes[acao] = yf.download(acao+".SA", start=ini, end=fim)["Close"]
cotacoes

2022-01-01 00:00:00 2022-05-17 00:00:00
[*********************100%***********************]  1 of 1 completed
2022-01-06 00:00:00 2022-05-17 00:00:00
[*********************100%***********************]  1 of 1 completed
2022-05-11 00:00:00 2022-05-17 00:00:00
[*********************100%***********************]  1 of 1 completed

                vale3      itub3     sanb11
Date
2022-01-03  78.000000        NaN        NaN
2022-01-04  77.080002        NaN        NaN
2022-01-05  77.809998        NaN        NaN
2022-01-06  79.379997  19.760000        NaN
2022-01-07  84.000000  20.070000        NaN
...               ...        ...        ...
2022-05-10  75.540001  20.010000        NaN
2022-05-11  78.690002  20.500000  32.880001
2022-05-12  77.900002  20.910000  32.750000
2022-05-13  77.809998  21.129999  32.700001
2022-05-16  80.139999  21.230000  33.540001

[92 rows x 3 columns]