# Introduction to scikit-learn (sklearn)

what we are going to cover:

0. an end-to-end sklearn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm
3. Fit the model/algorithm and use it to make predictions on our data
4. evaluate the model
5. Improve the model
6. Save and load a trained model
7. Putting it all togueder

## 0. An end-to-end sklearn workflow

In [1]:
# 1. Get the data ready
import pandas as pd
import numpy as np
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [2]:
# Create X (features matrix)
x = heart_disease.drop("target", axis=1)

# Create y (labels or target)
y = heart_disease["target"]

# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We will keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [3]:
# Fit the model to the training data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [4]:
clf.fit(x_train, y_train);

In [5]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
50,51,0,2,130,256,0,0,149,0,0.5,2,0,2
127,67,0,2,152,277,0,1,172,0,0.0,2,1,2
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3
166,67,1,0,120,229,0,0,129,1,2.6,1,2,3
67,45,0,1,130,234,0,0,175,0,0.6,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
281,52,1,0,128,204,1,1,156,1,1.0,1,0,0
151,71,0,0,112,149,0,1,125,0,1.6,1,0,2
74,43,0,2,122,213,0,1,165,0,0.2,1,0,2
150,66,1,0,160,228,0,0,138,0,2.3,2,0,1
95,53,1,0,142,226,0,0,111,1,0.0,2,0,3

In [6]:
# make a prediction
y_preds = clf.predict(x_test)
y_preds

array([1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 0, 0, 0, 1, 1, 1, 1, 1, 0, 0, 1, 1,
       1, 0, 0, 1, 0, 1, 1, 1, 1, 0, 1, 1, 1, 0, 1, 1, 0, 0, 0, 1, 1, 1,
       0, 0, 0, 0, 1, 1, 0, 1, 0, 1, 1, 0, 1, 0, 1, 0, 1], dtype=int64)

In [7]:
y_test

230    0
4      1
147    1
183    0
238    0
      ..
286    0
138    1
47     1
237    0
126    1
Name: target, Length: 61, dtype: int64

In [8]:
# 4. Evaluate the model on the training data and test data
clf.score(x_train, y_train) # retorna a mean accuracy

1.0

In [9]:
clf.score(x_test, y_test)

0.7868852459016393

In [10]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.88      0.69      0.77        32
           1       0.72      0.90      0.80        29

    accuracy                           0.79        61
   macro avg       0.80      0.79      0.79        61
weighted avg       0.80      0.79      0.79        61

In [11]:
confusion_matrix(y_test, y_preds)

array([[22, 10],
       [ 3, 26]], dtype=int64)

In [12]:
accuracy_score(y_test, y_preds)

0.7868852459016393

In [13]:
# 5. Improve a model
#Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test,y_test) * 100}")
    print(" ")

Trying model with 10 estimators...
Model accuracy on test set: 77.04918032786885

Trying model with 20 estimators...
Model accuracy on test set: 77.04918032786885

Trying model with 30 estimators...
Model accuracy on test set: 75.40983606557377

Trying model with 40 estimators...
Model accuracy on test set: 83.60655737704919

Trying model with 50 estimators...
Model accuracy on test set: 80.32786885245902

Trying model with 60 estimators...
Model accuracy on test set: 81.9672131147541

Trying model with 70 estimators...
Model accuracy on test set: 75.40983606557377

Trying model with 80 estimators...
Model accuracy on test set: 80.32786885245902

Trying model with 90 estimators...
Model accuracy on test set: 78.68852459016394

In [14]:
# 6. Save a model and load it
import pickle
pickle.dump(clf,open("./models/random_forest_moodel_1.pkl", "wb"))

In [15]:
loaded_model = pickle.load(open("./models/random_forest_moodel_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.7868852459016393

## 1. Getting our data ready to be used with machine learning

Three main things:

    1. Split the data into features and labels(targets?) (usually "x" & "y")
    2. Filling or disregarding missing values
    3. Converting non-numerical values to numerical values ( also called feature encoding)

In [16]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [17]:
x = heart_disease.drop("target", axis=1)

In [18]:
y= heart_disease["target"]

In [19]:
# Split the data into training and test sets
x_train, y_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [20]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [21]:
242+61

303

In [22]:
len(heart_disease) # só demonstrando que o train_test_split divide os dados apenas

303

### 1.1 Make sure it's all numerical

In [23]:
car_sales = pd.read_csv("./data/car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

In [24]:
len(car_sales)

1000

In [25]:
# Split data
x= car_sales.drop("Price", axis=1)
y= car_sales["Price"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
len(x_train), len(x_test)

(800, 200)

In [26]:
# build machine learning model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
#model.fit(x_train,y_train)
#model.score(x_test,y_test)

In [27]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"] #Doors poderia nao ser categorico, o autor que quis
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                               one_hot,
                               categorical_features)],
                               remainder="passthrough") # esse column transformer facilita muito na hora de arrumar as colunas
transformed_X = transformer.fit_transform(x)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [28]:
pd.DataFrame(transformed_X).head()

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [29]:
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [30]:
dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies # isso aqui faz basicamente a mesma coisa que o one hot encode só que no pandas (não funcionou pra Doors pq é numérico)

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [31]:
# Let's fit the model
np.random.seed(42)
x_train, x_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)
model.fit(x_train, y_train)

RandomForestRegressor()

In [32]:
model.score(x_test,y_test)

0.3235867221569877

## 1.2 What if there were missing values?

1. Fill them with some value (also know as imputation)
2. Remove the samples with missing data altogueder

In [33]:
car_sales_missing = pd.read_csv("./data/car-sales-extended-missing-data.csv")
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [35]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [38]:
x = car_sales_missing.drop("Price", axis=1)
y= car_sales_missing["Price"]
y

0      15323.0
1      19943.0
2      28343.0
3      13434.0
4      14043.0
        ...
995    32042.0
996     5716.0
997    31570.0
998     4001.0
999    12732.0
Name: Price, Length: 1000, dtype: float64

In [39]:
# Let's try and convert our data to numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"] #Doors poderia nao ser categorico, o autor que quis
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                               one_hot,
                               categorical_features)],
                               remainder="passthrough") # esse column transformer facilita muito na hora de arrumar as colunas
transformed_X = transformer.fit_transform(x)
transformed_X

ValueError: Input contains NaN

In [42]:
car_sales_missing["Doors"].value_counts()

4.0    811
5.0     75
3.0     64
Name: Doors, dtype: int64

### Option 1: Fill missing data with pandas

In [43]:
# Fill the "Make" column
car_sales_missing["Make"].fillna("missing", inplace = True)
#Fill the "Colour" column
car_sales_missing["Colour"].fillna("missing", inplace = True)
#Fill the "Odometer (Km)" column
car_sales_missing["Odometer (KM)"].fillna(car_sales_missing["Odometer (KM)"].mean(), inplace = True)
# Fill the "Doors" column
car_sales_missing["Doors"].fillna(4.0, inplace = True)
car_sales_missing

        Make Colour  Odometer (KM)  Doors    Price
0      Honda  White        35431.0    4.0  15323.0
1        BMW   Blue       192714.0    5.0  19943.0
2      Honda  White        84714.0    4.0  28343.0
3     Toyota  White       154365.0    4.0  13434.0
4     Nissan   Blue       181577.0    3.0  14043.0
..       ...    ...            ...    ...      ...
995   Toyota  Black        35820.0    4.0  32042.0
996  missing  White       155144.0    3.0   5716.0
997   Nissan   Blue        66604.0    4.0  31570.0
998    Honda  White       215883.0    4.0   4001.0
999   Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [44]:
car_sales_missing.isna().sum()

Make              0
Colour            0
Odometer (KM)     0
Doors             0
Price            50
dtype: int64

In [45]:
# Remove rows with missing price value (Diz ser melhor fazer isso pra coluna de resultado que deseja prever)
car_sales_missing.dropna(axis=0, inplace=True)

In [46]:
car_sales_missing.isna().sum()

Make             0
Colour           0
Odometer (KM)    0
Doors            0
Price            0
dtype: int64

In [47]:
len(car_sales_missing)

950

In [48]:
x = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"] #Doors poderia nao ser categorico, o autor que quis
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                               one_hot,
                               categorical_features)],
                               remainder="passthrough") # esse column transformer facilita muito na hora de arrumar as colunas
transformed_X = transformer.fit_transform(x)
transformed_X

<950x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3800 stored elements in Compressed Sparse Row format>

In [52]:
np.random.seed(42)
x_train, x_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)
model.fit(x_train, y_train)

RandomForestRegressor()

In [53]:
model.score(x_train, y_train)

0.8847250887037678

In [54]:
model.score(x_test, y_test)

0.22011714008302485

### Option 2: Fill missing values with scikit-learn

In [55]:
car_sales_missing = pd.read_csv("./data/car-sales-extended-missing-data.csv")

In [56]:
car_sales_missing

       Make Colour  Odometer (KM)  Doors    Price
0     Honda  White        35431.0    4.0  15323.0
1       BMW   Blue       192714.0    5.0  19943.0
2     Honda  White        84714.0    4.0  28343.0
3    Toyota  White       154365.0    4.0  13434.0
4    Nissan   Blue       181577.0    3.0  14043.0
..      ...    ...            ...    ...      ...
995  Toyota  Black        35820.0    4.0  32042.0
996     NaN  White       155144.0    3.0   5716.0
997  Nissan   Blue        66604.0    4.0  31570.0
998   Honda  White       215883.0    4.0   4001.0
999  Toyota   Blue       248360.0    4.0  12732.0

[1000 rows x 5 columns]

In [57]:
car_sales_missing.isna().sum()

Make             49
Colour           50
Odometer (KM)    50
Doors            50
Price            50
dtype: int64

In [59]:
car_sales_missing.dropna(subset=["Price"], inplace = True)
car_sales_missing.isna().sum()

Make             47
Colour           46
Odometer (KM)    48
Doors            47
Price             0
dtype: int64

In [90]:
# Split into X & Y
x = car_sales_missing.drop("Price", axis=1)
y = car_sales_missing["Price"]

# Split data into train and test
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
x_train

       Make Colour  Odometer (KM)  Doors
821  Nissan    Red       124112.0    4.0
652     NaN  White        19482.0    3.0
502     NaN   Blue       166897.0    4.0
365  Nissan  White        24420.0    4.0
202   Honda   Blue        84719.0    4.0
..      ...    ...            ...    ...
515   Honda   Blue        30120.0    4.0
311  Toyota   Blue       118308.0    4.0
166   Honda   Blue        96389.0    4.0
207  Nissan  Black       125251.0    4.0
722     BMW   Blue       165375.0    5.0

[760 rows x 4 columns]

In [92]:
# Fill missing values with scikit-learn
from sklearn.impute import SimpleImputer
from sklearn.compose import ColumnTransformer

# Define como vai preencher cada coluna
label_imputer = SimpleImputer(strategy="constant", fill_value="missing")
door_imputer = SimpleImputer(strategy="most_frequent")
odometer_imputer = SimpleImputer(strategy="mean")

In [93]:
# Define grupos de colunas pra aplicar os métodos de preenchimento
categorical_features = ["Make", "Colour"]
door_feature = ["Doors"]
numerical_feature = ["Odometer (KM)"]

In [94]:
# create a imputer
imputer = ColumnTransformer([("label imputer", label_imputer, categorical_features),
                             ("door imputer", door_imputer, door_feature),
                             ("odometer imputer", odometer_imputer, numerical_feature)],
                             remainder="passthrough") # esse column transformer facilita muito na hora de arrumar as colunas
filled_x_train = imputer.fit_transform(x_train)
filled_x_test = imputer.transform(x_test) # importante nao usar fit nos dados de teste!

# Check filled x_train
filled_x_train

array([['Nissan', 'Red', 4.0, 124112.0],
       ['missing', 'White', 3.0, 19482.0],
       ['missing', 'Blue', 4.0, 166897.0],
       ...,
       ['Honda', 'Blue', 4.0, 96389.0],
       ['Nissan', 'Black', 4.0, 125251.0],
       ['BMW', 'Blue', 5.0, 165375.0]], dtype=object)

In [104]:
#get filled data back to a pandas DF (precisa pra usar column transform novamente, mas acho que deve dar pra usar o onehotencode
# ali em cima)
# Importante colocar por extenso as colunas pq muda a ordem depois de usar o column transformer
car_sales_filled_train = pd.DataFrame(filled_x_train, columns=["Make", "Colour", "Doors", "Odometer (KM)"])
car_sales_filled_test = pd.DataFrame(filled_x_test, columns=["Make", "Colour", "Doors", "Odometer (KM)"])

# check if there are missing values
car_sales_filled_test.isna().sum()

Make             0
Colour           0
Doors            0
Odometer (KM)    0
dtype: int64

In [102]:
# agora usa one hot encode nas features categoricas de novo
categorical_features = ["Make", "Colour", "Doors"] #Doors poderia nao ser categorico, o autor que quis
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                               one_hot,
                               categorical_features)],
                               remainder="passthrough") # esse column transformer facilita muito na hora de arrumar as colunas
transformed_x_train = transformer.fit_transform(car_sales_filled_train)
transformed_x_test = transformer.transform(car_sales_filled_test)
transformed_x_train

<760x15 sparse matrix of type '<class 'numpy.float64'>'
	with 3040 stored elements in Compressed Sparse Row format>

In [103]:
transformed_x_train.toarray()

array([[0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.24112e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        0.00000e+00, 1.94820e+04],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.66897e+05],
       ...,
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 9.63890e+04],
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 1.25251e+05],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.65375e+05]])

In [106]:
model = RandomForestRegressor()
model.fit(transformed_x_train, y_train)
model.score(transformed_x_test, y_test)

0.23149117717981516

In [108]:
# Resuktado é pior porque tem menos dados
len(car_sales_filled_train)+len(car_sales_filled_test), len(car_sales)

(950, 1000)