# Introduction to scikit-learn (sklearn)

what we are going to cover:

0. an end-to-end sklearn workflow
1. Getting the data ready
2. Choose the right estimator/algorithm
3. Fit the model/algorithm and use it to make predictions on our data
4. evaluate the model
5. Improve the model
6. Save and load a trained model
7. Putting it all togueder

## 0. An end-to-end sklearn workflow

In [7]:
# 1. Get the data ready
import pandas as pd
import numpy as np
heart_disease = pd.read_csv("heart-disease.csv")
heart_disease

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
298,57,0,0,140,241,0,1,123,1,0.2,1,0,3,0
299,45,1,3,110,264,0,1,132,0,1.2,1,0,3,0
300,68,1,0,144,193,1,1,141,0,3.4,1,2,3,0
301,57,1,0,130,131,0,1,115,1,1.2,1,1,3,0
302,57,0,1,130,236,0,0,174,0,0.0,1,1,2,0

In [3]:
# Create X (features matrix)
x = heart_disease.drop("target", axis=1)

# Create y (labels or target)
y = heart_disease["target"]

# 2. Choose the right model and hyperparameters
from sklearn.ensemble import RandomForestClassifier
clf = RandomForestClassifier()

# We will keep the default hyperparameters
clf.get_params()

{'bootstrap': True,
 'ccp_alpha': 0.0,
 'class_weight': None,
 'criterion': 'gini',
 'max_depth': None,
 'max_features': 'auto',
 'max_leaf_nodes': None,
 'max_samples': None,
 'min_impurity_decrease': 0.0,
 'min_impurity_split': None,
 'min_samples_leaf': 1,
 'min_samples_split': 2,
 'min_weight_fraction_leaf': 0.0,
 'n_estimators': 100,
 'n_jobs': None,
 'oob_score': False,
 'random_state': None,
 'verbose': 0,
 'warm_start': False}

In [4]:
# Fit the model to the training data
from sklearn.model_selection import train_test_split

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [6]:
clf.fit(x_train, y_train);

In [9]:
x_train

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal
216,62,0,2,130,263,0,1,97,0,1.2,1,1,3
276,58,1,0,146,218,0,1,105,0,2.0,1,1,3
258,62,0,0,150,244,0,1,154,1,1.4,1,0,2
65,35,0,0,138,183,0,1,182,0,1.4,2,0,2
241,59,0,0,174,249,0,1,143,1,0.0,1,0,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9,57,1,2,150,168,0,1,174,0,1.6,2,0,2
224,54,1,0,110,239,0,1,126,1,2.8,1,1,3
199,65,1,0,110,248,0,0,158,0,0.6,2,2,1
186,60,1,0,130,253,0,1,144,1,1.4,2,1,3
295,63,1,0,140,187,0,0,144,1,4.0,2,2,3

In [12]:
# make a prediction
y_preds = clf.predict(x_test)
y_preds

array([1, 1, 1, 0, 1, 1, 0, 1, 1, 1, 1, 1, 1, 0, 1, 0, 0, 1, 1, 0, 1, 1,
       0, 0, 0, 1, 1, 1, 0, 1, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0, 0, 1, 1,
       0, 1, 1, 0, 1, 0, 0, 1, 1, 1, 0, 0, 0, 1, 1, 0, 0], dtype=int64)

In [13]:
y_test

75     1
160    1
40     1
233    0
135    1
      ..
274    0
109    1
16     1
190    0
265    0
Name: target, Length: 61, dtype: int64

In [14]:
# 4. Evaluate the model on the training data and test data
clf.score(x_train, y_train) # retorna a mean accuracy

1.0

In [15]:
clf.score(x_test, y_test)

0.8360655737704918

In [16]:
from sklearn.metrics import classification_report, confusion_matrix, accuracy_score

print(classification_report(y_test, y_preds))

              precision    recall  f1-score   support

           0       0.73      0.86      0.79        22
           1       0.91      0.82      0.86        39

    accuracy                           0.84        61
   macro avg       0.82      0.84      0.83        61
weighted avg       0.85      0.84      0.84        61

In [17]:
confusion_matrix(y_test, y_preds)

array([[19,  3],
       [ 7, 32]], dtype=int64)

In [19]:
accuracy_score(y_test, y_preds)

0.8360655737704918

In [22]:
# 5. Improve a model
#Try different amount of n_estimators
np.random.seed(42)
for i in range(10,100,10):
    print(f"Trying model with {i} estimators...")
    clf = RandomForestClassifier(n_estimators=i).fit(x_train, y_train)
    print(f"Model accuracy on test set: {clf.score(x_test,y_test) * 100}")
    print(" ")

Trying model with 10 estimators...
Model accuracy on test set: 81.9672131147541

Trying model with 20 estimators...
Model accuracy on test set: 85.24590163934425

Trying model with 30 estimators...
Model accuracy on test set: 78.68852459016394

Trying model with 40 estimators...
Model accuracy on test set: 81.9672131147541

Trying model with 50 estimators...
Model accuracy on test set: 80.32786885245902

Trying model with 60 estimators...
Model accuracy on test set: 75.40983606557377

Trying model with 70 estimators...
Model accuracy on test set: 81.9672131147541

Trying model with 80 estimators...
Model accuracy on test set: 80.32786885245902

Trying model with 90 estimators...
Model accuracy on test set: 80.32786885245902

In [28]:
# 6. Save a model and load it
import pickle
pickle.dump(clf,open("./models/random_forest_moodel_1.pkl", "wb"))

In [29]:
loaded_model = pickle.load(open("./models/random_forest_moodel_1.pkl", "rb"))
loaded_model.score(x_test, y_test)

0.8032786885245902

## 1. Getting our data ready to be used with machine learning

Three main things:

    1. Split the data into features and labels(targets?) (usually "x" & "y")
    2. Filling or disregarding missing values
    3. Converting non-numerical values to numerical values ( also called feature encoding)

In [30]:
heart_disease.head()

,age,sex,cp,trestbps,chol,fbs,restecg,thalach,exang,oldpeak,slope,ca,thal,target
0,63,1,3,145,233,1,0,150,0,2.3,0,0,1,1
1,37,1,2,130,250,0,1,187,0,3.5,0,0,2,1
2,41,0,1,130,204,0,0,172,0,1.4,2,0,2,1
3,56,1,1,120,236,0,1,178,0,0.8,2,0,2,1
4,57,0,0,120,354,0,1,163,1,0.6,2,0,2,1

In [31]:
x = heart_disease.drop("target", axis=1)

In [32]:
y= heart_disease["target"]

In [33]:
# Split the data into training and test sets
x_train, y_test, y_train, y_test = train_test_split(x, y, test_size=0.2)

In [34]:
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((242, 13), (61, 13), (242,), (61,))

In [35]:
242+61

303

In [36]:
len(heart_disease) # sÃ³ demonstrando que o train_test_split divide os dados apenas

303

### 1.1 Make sure it's all numerical

In [37]:
car_sales = pd.read_csv("./data/car-sales-extended.csv")
car_sales.head()

     Make Colour  Odometer (KM)  Doors  Price
0   Honda  White          35431      4  15323
1     BMW   Blue         192714      5  19943
2   Honda  White          84714      4  28343
3  Toyota  White         154365      4  13434
4  Nissan   Blue         181577      3  14043

TypeError: __init__() missing 1 required positional argument: 'transformers'

In [40]:
len(car_sales)

1000

In [41]:
# Split data
x= car_sales.drop("Price", axis=1)
y= car_sales["Price"]

x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2)
len(x_train), len(x_test)

(800, 200)

In [ ]:
# build machine learning model
from sklearn.ensemble import RandomForestRegressor

model = RandomForestRegressor()
#model.fit(x_train,y_train)
#model.score(x_test,y_test)

In [57]:
# Turn the categories into numbers
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import ColumnTransformer

categorical_features = ["Make", "Colour", "Doors"] #Doors poderia nao ser categorico, o autor que quis
one_hot = OneHotEncoder()
transformer = ColumnTransformer([("one_hot",
                               one_hot,
                               categorical_features)],
                               remainder="passthrough") # esse column transformer facilita muito na hora de arrumar as colunas
transformed_X = transformer.fit_transform(x)
transformed_X

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 3.54310e+04],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 0.00000e+00,
        1.00000e+00, 1.92714e+05],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 8.47140e+04],
       ...,
       [0.00000e+00, 0.00000e+00, 1.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 6.66040e+04],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.15883e+05],
       [0.00000e+00, 0.00000e+00, 0.00000e+00, ..., 1.00000e+00,
        0.00000e+00, 2.48360e+05]])

In [53]:
pd.DataFrame(transformed_X).head()

    0    1    2    3    4    5    6    7    8    9    10   11        12
0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   35431.0
1  1.0  0.0  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  0.0  1.0  192714.0
2  0.0  1.0  0.0  0.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0   84714.0
3  0.0  0.0  0.0  1.0  0.0  0.0  0.0  0.0  1.0  0.0  1.0  0.0  154365.0
4  0.0  0.0  1.0  0.0  0.0  1.0  0.0  0.0  0.0  1.0  0.0  0.0  181577.0

In [54]:
x.head()

     Make Colour  Odometer (KM)  Doors
0   Honda  White          35431      4
1     BMW   Blue         192714      5
2   Honda  White          84714      4
3  Toyota  White         154365      4
4  Nissan   Blue         181577      3

In [55]:
dummies = pd.get_dummies(car_sales[["Make", "Colour", "Doors"]])
dummies # isso aqui faz basicamente a mesma coisa que o one hot encode sÃ³ que no pandas (nÃ£o funcionou pra Doors pq Ã© numÃ©rico)

,Doors,Make_BMW,Make_Honda,Make_Nissan,Make_Toyota,Colour_Black,Colour_Blue,Colour_Green,Colour_Red,Colour_White
0,4,0,1,0,0,0,0,0,0,1
1,5,1,0,0,0,0,1,0,0,0
2,4,0,1,0,0,0,0,0,0,1
3,4,0,0,0,1,0,0,0,0,1
4,3,0,0,1,0,0,1,0,0,0
...,...,...,...,...,...,...,...,...,...,...
995,4,0,0,0,1,1,0,0,0,0
996,3,0,0,1,0,0,0,0,0,1
997,4,0,0,1,0,0,1,0,0,0
998,4,0,1,0,0,0,0,0,0,1
999,4,0,0,0,1,0,1,0,0,0

In [58]:
# Let's fit the model
np.random.seed(42)
x_train, x_test, y_train, y_test = train_test_split(transformed_X, y, test_size=0.2)
model.fit(x_train, y_train)

RandomForestRegressor()

In [59]:
model.score(x_test,y_test)

0.3235867221569877